{
  "plugins": [
    "mocha"
  ],

  "env": {
    "mocha": true
  },

  "rules": {
    "prefer-arrow-callback": 0,
    "mocha/handle-done-callback": 2,
    "mocha/no-exclusive-tests": 2,
    "mocha/no-global-tests": 2,
    "mocha/no-hooks": 0,
    "mocha/no-hooks-for-single-case": 0,
    "mocha/no-identical-title": 2,
    "mocha/no-mocha-arrows": 1,
    "mocha/no-pending-tests": 1,
    "mocha/no-return-and-callback": 2,
    "mocha/no-sibling-hooks": 0,
    "mocha/no-skipped-tests": 2,
    "mocha/no-synchronous-tests": 0
  }
}