{
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-underscore-dangle": 0,
    "curly": 0,
    "no-use-before-define": [2, "nofunc"],
    "spaced-comment": [2, "always"],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "keyword-spacing": [2, {"after": true}],
    "space-before-blocks": [2, "always"],
    "semi-spacing": [2, {"before": false, "after": true}]
  },
  "env": {
    "es6": false,
    "node": true,
    "mocha": true
  }
}